.DS_Store
.ipynb_checkpoints
.conda
*.png
*.csv
*.gzip
option_0
lesson-11 _hide.ipynb
lesson_11 _from_lesson.ipynb
logs/
runs/
lesson-13 _hide.ipynb
lesson_13 _from_lesson.ipynb
lesson-14 _hide.ipynb
